<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJbPpgUE1LVGYnAfUzX1IHcZ1wWM7amyI</string>
	<key>GCM_SENDER_ID</key>
	<string>917581683919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.peblet.twilioPhone</string>
	<key>PROJECT_ID</key>
	<string>twilio-phone-peblet</string>
	<key>STORAGE_BUCKET</key>
	<string>twilio-phone-peblet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917581683919:ios:02f324e3f21d9d54172bba</string>
</dict>
</plist>